@import url(./fonts.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.container {
    max-width: 1290px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}



.header_top {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: 
    #313131;
   
}



.header_top_info {
    display: flex;
    align-items: center;
    width: fit-content;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   width: 273px;
   justify-content: space-between;
}


.header_link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'norm';
    color: white;
margin-right: 80px;
}

.navbar-nav li:nth-of-type(1) {
    margin-right: 70px;
}

.navbar-nav li:nth-of-type(2){
    margin-right: 28px;
}
.navbar-nav li:nth-of-type(3){
    margin-right: 28px;
}


.list_link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'norm';
 
    transition: .5s;
}


.list_link:hover {
 color: aqua;
  
}
.list li {
    transition: .5s;
}
.list li:hover {
    color: aqua;
    transform: scaleX(1.2) ; 
}


.navbar_bg {
    background-color: #313131;
}


.top_search {
    margin-left: 143px;
}

.form-control {
    width: 440px;
}

.header_ic {
    margin-right: 7.5px;
    font-size: 15px;
}

.nav_below {
  
    max-width: 1070px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.list_below {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}

.below_link {
    text-decoration: none;
    color: #313131;
    font-size: 18px;
    font-family: 'norm';
}
.below_li {
   transition: 0.7s;
}

.below_li:hover {
    
    transform: scale(1.1);
}

.intro_title {
    margin: auto;
    font-size: 48px;
    color: #313131;
    line-height: 70px;
    width: 550px;
    text-align: center;
    font-family: 'norm';
}


.intro_btn {
    width: 190px;
    height: 50px;
    margin: 0 auto;
    margin-top: 121px;
}




.all-btn {
    background-color: #313131;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
    text-decoration: none;
}

.all-btn:hover {
    background-color: white;
    color: #313131;

}

.intro_descr {
    margin-left: -95px;
    margin-top: 150px;
}


.intro {
    margin-top: 50px;
}

.intro_indicators {
    margin: 0 !important;
   align-items: center;
 
    
    column-gap: 15px;
}

.intro_indicators-dots {
    width: 15px ;
    height: 15px ;
    border-radius: 50%;
    background-color:  #ABABAB ;
}
.intro_indicators-dots.active{
    background-color: #313131 ;
    transform: scale(1.2);
}

.container1 {
    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}


.access_box {
    
    width: 100%;
    height: 500px;
    margin-top: 80px;
    
}
.access_item1 {
    position: relative;
    background-blend-mode: multiply;
    background-color: rgb(243, 243, 243);
    background-image: url(../images/suunto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   height: 100%;
    
    transition: 0.5s ;
  
}



.access_item-title {
    font-family: 'norm';
    line-height: 37px;
    font-size: 24px;
   padding-top: 420px;
   padding-left: 20px;
 
 
}

.access_item1:hover {
    box-shadow: -10px 5px 4px 0px #00000040;

}

.access_item1::after {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    content: '-57%';
    font-family: 'norm';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #313131;
    border-radius: 50%;
    color: white;
    
}

.access_box2 {
    height: 100%;
    width: 49% ;
    display: flex ;
    flex-direction: column;
   justify-content: space-between;

}


.access_item2 {
    position: relative;
    background-blend-mode: multiply;
    background-color: rgb(243, 243, 243);
    background-image: url(../images/airpods2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 47.3% !important;
    width: 100% !important;
    transition: 0.5s ;
  
}


.access_item2::after {
    top: 20px;
    left: 20px;
    position: absolute;
    content: '-30%';
    font-family: 'norm';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #313131;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    
    
}


.access_item2:hover {
    box-shadow: -10px 5px 4px 0px #00000040;

}


.access_item-title2 {
    font-family: 'norm';
    line-height: 37px;
    font-size: 24px;
   padding-top: 145px;
   padding-left: 20px;
 
 
}



.access_item3 {
    position: relative;
    background-blend-mode: multiply;
    background-color: rgb(243, 243, 243);
    background-image: url(../images/powerbank.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 48% !important;
    transition: 0.5s ;
}
.access_item3::after {
    bottom: 15px;
    left: 20px;
    position: absolute;
    content: '-20%';
    font-family: 'norm';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #313131;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    
    
}


.access_item3:hover {
    box-shadow: -10px 5px 4px 0px #00000040;

}


.access_item3-title {
    font-family: 'norm';
    line-height: 37px;
    font-size: 24px;
   padding-top: 15px;
   padding-left: 20px;
}


.access_item4 {
    position: relative;
    background-blend-mode: multiply;
    background-color: rgb(243, 243, 243);
    background-image: url(../images/remax.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 48% !important;
    transition: 0.5s ;
}

.access_item4:hover {
    box-shadow: -10px 5px 4px 0px #00000040;

}

.access_item4::after {
    bottom: 15px;
    left: 20px;
    position: absolute;
    content: '-10%';
    font-family: 'norm';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #313131;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    
    
}


.access_box3 {
    height: 47.3% !important;
    
}


.iphone_title {
    font-family: 'norm';
    font-size: 16px;
    line-height: 22px;
    color: #313131;
    text-align: center;
    padding-top: 226px;
}


.apple_title {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 50px;
    font-family: 'norm';
    color: #313131;
}

.iphone12pm{
    background-image: url(../images/i12pm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
    transition: 1s;
    width: 100% !important;
}


.iphone11y{
    background-image: url(../images/i11py.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
    width: 100% !important;

    
    
}


.iphone12p{
    background-image: url(../images/i12p.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
    width: 100% !important;
}


.iphone11r{
    background-image: url(../images/i11pr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
     width: 100% !important;
}

.nout1 {
    background-image: url(../images/nout1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}

.nout2 {
    background-image: url(../images/nout2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}

.nout3 {
    background-image: url(../images/nout3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}

.nout4 {
    background-image: url(../images/nout4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}

.access1 {
    background-image: url(../images/access1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}
.accesss2 {
    background-image: url(../images/access2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}
.access3 {
    background-image: url(../images/access3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}
.access4 {
    background-image: url(../images/access4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}

.nout_title {
    font-family: 'norm';
    font-size: 16px;
    line-height: 22px;
    color: #313131;
    text-align: center;
    padding-top: 237px;
}


.buybox:hover   {
     box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);;
}

.buybox {
    width: 330px !important;
    height: 330px;
    transition: 0.5s;
    position: relative;
}

.buy_b {
    opacity: 0;
    width: 100px;
    height: 30px;
    transition: 0.5s;
}

.buybox:hover .buy_b {
    opacity: 1;
}


.heart_icon {
    position: absolute;
    top: 17px;
    right: 16px;
    font-size: 17px;
    color: #313131;
    opacity: 0;
    transition: 0.5s;
}


.buybox:hover .heart_icon {
    opacity: 1;
}


.ployka_box {
    margin-top: 70px !important;
    
}

.psp_btn {
   margin: 0;
   margin-top: 70px;
   margin-left: 20px;
}

.psp_title {
    margin-top: 20px;
    font-size: 48px;
    font-family: 'norm';
    color: #313131;
    margin-left: 20px;
}


.psp_logo {
    margin-top: 94px;
    margin-left: 20px;
}

.footnav {
    
    align-items: start !important;
    
  
   
}

.footer {
    height: 230px !important;
background-color: #313131;
display: flex;
flex-direction: column;
align-items: center;
}


.pasdagibor {
    border: 1px solid white !important;
}


.footlist {
    padding: 0;
    margin: 0;
    gap: 35px;
    list-style: none;
    display: flex;

}

.footlist_link{
    text-decoration: none;
}

.ftlist_icon {
    font-size: 37px;
    color: white;
}



.ftlist2 {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 28px;
    padding-left: 0;
   
 
}

.ftlist2_link {
    text-decoration: none;
    color: white;
    font-family: 'norm';
}



.top_search2 {
    margin: 0 !important;
}



